
<%- include('layout')%>
<ol class="breadcrumb">
    <li><a href="#">管理首页</a></li>
    <li><span>分类列表</span></li>
</ol>
<h3>分类列表</h3>
<table class="table table-hover table-striped">
    <tr>
        <th>用户名</th>
        <th>密码</th>
        <th>性别</th>
        <th>身份</th>
        <th>个人简介</th>
    </tr>
</table>
<%- include('page')%>
<%- include('../footer')%>