<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css//bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<!--顶部管理-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/admin/user">用户管理 </a></li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类管理 <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="/admin/category">分类首页</a></li>
                         <li><a href="/admin/category/add">添加分类</a></li>
                     </ul>
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= user.name%><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/posts">首页</a></li>
                        <li><a href="/signout">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


