<nav aria-label="...">
    <ul class="pager">
        <li class="previous"><a href="posts?page=<%= page-1%>"><span aria-hidden="true">&larr;</span> 上一页</a></li>
        <li>共<%= pages %>页，第<%= page%>页</li>
        <li class="next"><a href="posts?page=<%= page+1 %>">下一页<span aria-hidden="true">&rarr;</span></a></li>

    </ul>
</nav>